<div class="container">
    <h2 class="text-center"><%= pokemon.name %></h2>
    <div class="well">
        <img src="<%= pokemon.sprites.other['official-artwork']['front_default'] %>" alt="<%= pokemon.name %> ">
        <p>Height: <%= Math.round(pokemon.height / 10 * 3.01) %> ft</p>
        <p>Weight: <%= Math.round(pokemon.weight / 4.536) %> lbs</p>
        <p>Types: <%=pokemon.types.map(typeObj => typeObj.type.name).join(', ') %></p>
        <p>Abilities: <%= pokemon.abilities.map(abilityObj => abilityObj.ability.name).join(', ') %></p>
        <p>Moves: <%= pokemon.moves.map(moveObj => moveObj.move.name).join(', ') %></p>
    </div>
</div>