<div class="container">
    <h2 class="text-center"><%= pokemon.name %></h2>
    <img src="<%= pokemon.sprites.other['official-artwork']['front_default'] %>" alt="<%= pokemon.name %> ">
    <p>height: <%= pokemon.height %></p>
    <p>weight: <%= pokemon.weight %></p>
    <p>ability: <%= pokemon.abilities[0].ability.name %></p>
    <p>move: <%= pokemon.moves[0].move.name %></p>
</div>