<form action="/details" method="GET">
<h1>Pokemon Details</h1>
    <ul>
        <li>Name: <%= pokemon.name %> </li>
        <img src="<%= pokemon.sprites.front_default %>">
        <li>Experience: <%= pokemon.base_experience %> </li>
        <li>Height: <%= pokemon.height %> </li>
        <li>Weight: <%= pokemon.weight %> </li>
    </ul>

</form>