<script> 
    window.onload = function(){
        const game = document.querySelector('#game')
        var ctx = game.getContext("2d");
    
    const computedStyle = getComputedStyle(game);
    const height =computedStyle.height
    const width = computedStyle.width
    const size= 150;
    function drawBgImg(img) {
        let bgImg = new Image();
        
         bgImg.src = img;
         ctx.drawImage(bgImg, 0, 0, size, size);  
     } 
    
    
    
    let counter = 0;
    let src;
    function sprite(){
        if (counter === 0){
            drawBgImg('<%=pokemonSprites.front_default%>', 0, 0, size, size)
            counter = 1;
        }else{
            drawBgImg('<%=pokemonSprites.back_default%>', 0, 0, size, size)
            counter = 0;
        }
    }
    function rePaint(){
        ctx.clearRect(0, 0, size, size);
        
        sprite();
    }
    setInterval(rePaint, 700)  
    
    } 
    </script> 

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Palanquin+Dark&display=swap');
    li {
        
    list-style-type: none;
    
    }
    
    li {
        font-size: 28px;
    }


   h1 {
  font-family: 'Bowlby One SC', cursive;
} 
  h2 {
    font-family: 'Palanquin Dark', sans-serif;
  
  }
 ul {
    font-family: 'Palanquin Dark', sans-serif; 
    display: inline;
    text-align: center;
 }

 li {
     display: inline;
 }
  #card {
      background-color: rgba(196, 188, 188, 0.61);
      width: 25%;
      margin: auto;
      margin-top: 20px;
      text-align: left;
      padding: 10px;
      border-radius: 10px;
  }

  #game {
      display: block;
      width: 10%;
      margin-left: 8%;
      
  }
  
  #header {
      text-align :center
  }

</style>
<div id="card">

<h1 id="header"><% 
    let upperPoke=onePokemon.dataValues.name 
    let upperPokeStr =upperPoke[0].toUpperCase() + upperPoke.slice(1);
    %>
<%= upperPokeStr  %></h1>

<div  class ="container">
<canvas id="game" height=150 width=150>Hello!</canvas>
</div>
<h2>Weight : <%= pokeWeight %></h2>
<h2 >Height : <%= pokeHeight %></h2>
<h2 > Types:</h2>
<ul>
    <% pokeTypes.forEach((p) => {
        %><li>&nbsp <%= p.type.name %></li>
        <% }) %>
</ul>
</div>


