<h2><% 
    let upperPoke=onePokemon.dataValues.name 
    let upperPokeStr =upperPoke[0].toUpperCase() + upperPoke.slice(1);
    %>
<%= upperPokeStr  %></h2>
<style>
    #game {
        margin-left: 0%;
    }
    
</style>


<script> 
window.onload = function(){
    const game = document.querySelector('#game')
    var ctx = game.getContext("2d");

const computedStyle = getComputedStyle(game);
const height =computedStyle.height
const width = computedStyle.width
const size= 150;
function drawBgImg(img) {
    let bgImg = new Image();
    
     bgImg.src = img;
     ctx.drawImage(bgImg, 0, 0, size, size);  
 } 



let counter = 0;
let src;
function sprite(){
    if (counter === 0){
        drawBgImg('<%=pokemonSprites.front_default%>', 0, 0, size, size)
        counter = 1;
    }else{
        drawBgImg('<%=pokemonSprites.back_default%>', 0, 0, size, size)
        counter = 0;
    }
}
function rePaint(){
    ctx.clearRect(0, 0, size, size);
    
    sprite();
}
setInterval(rePaint, 700)  

} 
</script> 
<canvas id="game" height=150 width=150>Hello!</canvas>
<h2>Weight : <%= pokeWeight %></h2>
<h2>Height : <%= pokeHeight %></h2>
<h2> Types</h2>
<ul>
    <% pokeTypes.forEach((p) => {
        %><li><%= p.type.name %></li>
        <% }) %>
</ul>


