<div class="container">
<h1 class="display-3"><%=`${pokeDetails.name.charAt(0).toUpperCase()}${pokeDetails.name.slice(1)}` %></h1>

<img src="<%=pokeDetails.sprites.other[`official-artwork`].front_default %>" alt="<%=pokeDetails.name%>">
<p><strong>1st Ability:</strong> <%=`${pokeDetails.abilities[0].ability.name.charAt(0).toUpperCase()}${pokeDetails.abilities[0].ability.name.slice(1)}` %></p>
<p><strong>2nd Ability:</strong> <%=`${pokeDetails.abilities[1].ability.name.charAt(0).toUpperCase()}${pokeDetails.abilities[1].ability.name.slice(1)}` %></p>
<p><strong>Base Experience:</strong> <%= pokeDetails.base_experience %></p>
<p><strong>Height:</strong> <%= pokeDetails.height %></p>
<p><strong>1st Move:</strong> <%= `${pokeDetails.moves[0].move.name.charAt(0).toUpperCase()}${pokeDetails.moves[0].move.name.slice(1)}` %></p>
<p><strong>2nd Move:</strong> <%= `${pokeDetails.moves[1].move.name.charAt(0).toUpperCase()}${pokeDetails.moves[1].move.name.slice(1)}` %></p>
<p><strong>3rd Move:</strong> <%= `${pokeDetails.moves[2].move.name.charAt(0).toUpperCase()}${pokeDetails.moves[2].move.name.slice(1)}` %></p>


<a onclick="goBack()" href="#">Back</a>
<script>
  function goBack() { window.history.back() }
</script>
</div>