<!-- Local CSS -->
<link href= "/public/css/style.css" rel="stylesheet" type="text/css" />
<%let name = pokemon.name %>:</h1>
<%let newName = name.charAt(0).toUpperCase() + name.slice(1) %>
<%let type = pokemon.types[0].type.name %>:</h1>
<%let newType = type.charAt(0).toUpperCase() + type.slice(1) %>
<h1>Poke-Details</h1>

<div class="card" style="width: 300px;">
    <img src="<%= pokemon.sprites.other['official-artwork']['front_default']%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= newName %></h5>
    <hr width = "200px">
      <p class="card-text">Types: <%= newType %></p>
      <p class="card-text">Weight: <%= Math.round(pokemon.weight/4.536)+ ' lbs.' %></p>
      <p class="card-text">Height: <%= Math.round(pokemon.height/3.048)+ ' ft.' %></p>
      <p class="card-moves">Moves</p>
      <hr>
      <p class="card-text"><%= pokemon.moves[0].move.name %></p>
      <p class="card-text"><%= pokemon.moves[1].move.name %></p>
      <p class="card-text"><%= pokemon.moves[2].move.name %></p>
      <p class="card-text"><%= pokemon.moves[3].move.name %></p>
      <form method="POST" action="/pokemon/<%= pokemon.name %>">
        <button class="btn btn-danger" type="submit">Delete favorite</button>
      </form>
      <form method="GET" action="/">
        <input hidden type="text" name="name" value="">
        <button class="btn btn-primary" id="backHome" type="submit">Back to Pokemon</button>
      </form>
    </div>
  </div>

  
  